<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        dat1 = [];
        dat2 = [];
        dat3 = [];
        <% User.order(offers_count: :desc).limit(5).each  do |user| %> 
          dat1.push('<%= user.name %>');
          dat2.push(<%= user.offers_count %>);
          dat3.push(<%= user.events_count %>);
        <% end %>



        var data = google.visualization.arrayToDataTable([
        ['offers', 'Offers', 'Events', { role: 'annotation' } ],
        [dat1[0], dat2[0], dat3[0],  ''],
        [dat1[1], dat2[1], dat3[1],  ''],
        [dat1[2], dat2[2], dat3[2], ''],
      ]);


        var options = {
          title: 'Offers and events chart',
          hAxis: {title: 'Name', titleTextStyle: {color: 'red'}},
          isStacked: true,
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
         dat1 = [];
         dat2 = [];
        <% User.order(events_count: :desc).limit(5).each  do |user| %> 
          dat1.push('<%= user.name %>');
          dat2.push(<%= user.events_count %>);
        <% end %>
        var data = google.visualization.arrayToDataTable([
          ['User', 'Events'],
          [dat1[0], dat2[0]],
          [dat1[1], dat2[1]],
          [dat1[2], dat2[2]],

        ]);

        var options = {
          title: 'Events'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>




</head>
<body>

<h3>Ranking of events</h3>

<style>
    td, th {
        padding: 10px;
    }
</style>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Events count</th>
    </tr>
  </thead>

  <tbody>
     <% User.order(events_count: :desc).limit(5).each  do |user|%> 
      <tr>
        <td><%= user.name %> </td>
        <td><%= user.events_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Ranking of offers</h3>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Offers count</th>
      
    </tr>
  </thead>

  <tbody>
     <% User.order(offers_count: :desc).limit(5).each  do |user| %> 
      <tr>
        <td><%= user.name %> </td>
        <td><%= user.offers_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <td>
      <div id="chart_div" style="width: 500px; height: 300px;"></div>
    </td>
    <td>
      <div id="piechart" style="width: 500px; height: 300px;"></div>


    </td>
  </tr>
</table>

<br>
</body>

