<h3>Home</h3>
<br>
<h5>Wystawiający miesiąca !</h5>

<style>
    td, th {
        padding: 5px 75px 0px 0px;
    }
</style>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>



  <tbody>
     <% User.order(offers_count: :desc).limit(1).each  do |user|%> 
      <tr>
       <td><%= user.name%></td>
       <td><%= image_tag(user.avatar_url, :width => 50) if user.avatar %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h4><b>Shoutbox</b></h4>
<% shoutbox = String.new("") %>
<ul>
<% for shout in @shouts %>
<% shoutbox = shoutbox + "Author: #{shout.name} \n #{shout.message} \n___________________________________________________________________________________________\n" %>
<% end %>
      <%= text_area_tag(:shoutboxing, "#{shoutbox}", rows: '10', cols: 80, readonly: "true", style: "resize:none;color:brown;background-color:#C0C0C0") %><br>
</ul>
<%= form_for @shout do |f| %>

<% f.label :name %><b>Name:</b>
<%= f.text_field :name, :size => 20 %><br>

<% f.label :message %><b>Message:</b><br>
<%= f.text_area :message, :rows => 3, :cols => 80, style: "resize:none" %><br>

<%= f.submit %>
<% end %>