<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
</head>

<h1>Listing events</h1>

<style>
    td, th {
        padding: 10px;
    }
</style>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th style="width: 30%">Description</th>
      <th>Picture</th>
      <th><%= sortable "start_date" %></th>
      <th>Start time</th>
      <th>End time</th>
      <th><%= sortable "location" %></th>
      <th><%= sortable "city" %></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= image_tag(event.picture_url, :width => 50) if event.picture.present? %></td>
        <td><%= event.start_date.strftime("%d %b %Y") %></td>
        <td><%= event.start_time.strftime("%H:%M") %></td>
        <td><%= event.end_time.strftime("%H:%M") %></td>
        <td><%= event.location %></td>
        <td><%= event.city %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) if event.user_id == current_user.id %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } if event.user_id == current_user.id%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
<div id="map" style="width: 500px; height: 400px;"></div>

  <script type="text/javascript">

  geocoder = new google.maps.Geocoder();
  var locations = [];
  <% @events.each do |event| %>
    var address = '<%= event.city  %>' + '<%= event.location %>';
    locations.push['<%= event.description %>',   geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            title: '<%= event.description %>',
            label: 'label',
            content: 'content'
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    }), 'Informacja']

 

  <% end %>


  function attachSecretMessage(marker, num) {
  var message = ['This', 'is', 'the', 'secret', 'message'];
  var infowindow = new google.maps.InfoWindow({
    content: message[num]
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(marker.get('map'), marker);
  });
}

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: new google.maps.LatLng(-34.397, 150.644),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;


/*
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        title: 'tekst'

      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('locations[i][0]');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }*/
  </script>