<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :cost %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :area %>
    <%= f.input :rooms %>
    <%= f.input :localization %>
    <%= f.input :description %>
    <%= f.hidden_field :user_id %> 
  </div>

  <%= f.fields_for :offer_photo do |p| %>
     <div class="field">
       <%= p.label :photo %><br>
       <%= p.file_field :photo, :multiple => true, name: "offer_photos[photo][]" %>
     </div>
   <% end %>

   <% if params[:action] == "edit" %> 
     <% @offer.offer_photos.each do |p| %>
       <%= image_tag p.photo, :size => "150x150" %>
       <%= link_to "Destroy", p, method: :delete %>
     <% end %>
   <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
